* {
    display: block;
}

.inputInvalid {
    border-color: red;
}

/* turns off the 'spinner' (number increment element) */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}