/* * {
    display: block;
} */

.inputInvalid {
    border-color: red;
}

/* turns off the 'spinner' (number increment element) */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.formContainer {
  width: 50%;
  padding: 20px;
  background-color: rgb(199, 199, 199);
  border-radius: 4%;
}